In [1]:
!pip install .

Processing /mnt/c/Users/maluv/OneDrive/Área de Trabalho/script/ScriptIBGE
  Preparing metadata (setup.py) ... done
Using legacy 'setup.py install' for ibge, since package 'wheel' is not installed.
Installing collected packages: ibge
  Attempting uninstall: ibge
    Found existing installation: ibge 0.0.0
    Uninstalling ibge-0.0.0:
      Successfully uninstalled ibge-0.0.0
  Running setup.py install for ibge ... done
Successfully installed ibge-0.0.0

[notice] A new release of pip available: 22.2.1 -> 23.3.1
[notice] To update, run: pip install --upgrade pip
============================= test session starts ==============================
platform linux -- Python 3.10.6, pytest-7.1.3, pluggy-1.0.0 -- /home/malumaia/.pyenv/versions/3.10.6/envs/seunome/bin/python3.10
cachedir: .pytest_cache
rootdir: /mnt/c/Users/maluv/OneDrive/Área de Trabalho/script/ScriptIBGE
plugins: anyio-3.6.2
collected 5 items

tests/test_lib.py::test_preprocess_output PASSED                         [ 20%]
tests/test_lib.py::test_clean_data_success PASSED                        [ 40%]
tests/test_lib.py::test_clean_data_failure PASSED                        [ 60%]
tests/test_lib.py::teste_ajustar_amazon_s3_sucesso PASSED                [ 80%]
tests/test_lib.py::teste_ajustar_amazon_s3_falha PASSED                  [100%]

============================== 5 passed in 1.52s ===============================

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./csv/dados_sale.csv')
df['saleDate'] = df['saleDate'].str.split('T').str[0]
df

,id,cnpj,idCategory,category,saleDate,value,amount
0,740,36429502000180,30,"{'id': 30, 'name': 'Carne', 'isActive': True}",2023-01-01,181.0,60
1,741,44543901000103,22,"{'id': 22, 'name': 'Monitor LED', 'isActive': ...",2023-01-01,268.0,71
2,742,36091770000134,4,"{'id': 4, 'name': 'Arroz', 'isActive': True}",2023-01-01,780.0,17
3,743,27665906006627,24,"{'id': 24, 'name': 'Livro', 'isActive': True}",2023-01-01,973.0,13
4,744,39455201000119,2,"{'id': 2, 'name': 'Cerveja', 'isActive': True}",2023-01-01,125.0,24
...,...,...,...,...,...,...,...
34336,34975,45408730000164,16,"{'id': 16, 'name': 'Açucar', 'isActive': True}",2023-12-06,628.0,85
34337,34976,23965951000109,26,"{'id': 26, 'name': 'Jogo de Videogame', 'isAct...",2023-12-06,891.0,10
34338,34977,12553309000198,14,"{'id': 14, 'name': 'Sabão em Pó', 'isActive': ...",2023-12-06,960.0,64
34339,34978,28452195000120,9,"{'id': 9, 'name': 'Molho de Tomate', 'isActive...",2023-12-06,167.0,29
34340,34979,46065643000114,4,"{'id': 4, 'name': 'Arroz', 'isActive': True}",2023-12-06,849.0,52

In [3]:
df.to_csv('./csv_s3/sale_s3.csv', index=False)